/* styles.css */

body {
    padding: 100px;
    font-family: 'Arial', sans-serif;
    background-color: #f8f9fa;

}

.container {
    max-width: 800px;
    margin: auto;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    border: none;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    margin-bottom: 30px;
    color: #333;
}

.form-group {
    margin-bottom: 20px;
}

.form-label {
    font-weight: bold;
}

.form-control {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.btn-orange {
    background-color: orange !important;
    color: #fff !important;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn-orange:hover {
    background-color: #343a40 !important;
    color: white !important;
}

.btn-secondary {
    background-color: #6c757d;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn-secondary:hover {
    background-color: #5a6268;
}
.btn-orange a{
    text-decoration: none;
    color: white;
}

.btn-orange a:hover{
    color: white !important;
}
