/* styles.css */

/* Styles généraux */
body {
    font-family: Arial, sans-serif;
    background-color:white;
}

.container {

    padding: 10px;
}

/* Titre */
h1 {
    margin-top: 20px;
    margin-bottom: 30px;
    font-weight: bold;
}

/* Carte des demandes de congés */
.card {
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.card-header {
    border-radius: 10px 10px 0 0;
}

.card-body {
    padding: 20px;
}

.card-text {
    margin-bottom: 10px;
}

.btn {
    margin-right: 10px;
}

/* Boutons d'acceptation et de refus */
.btn-success {
    background-color: #28a745;
    border-color: #28a745;
}

.btn-danger {
    background-color: #dc3545;
    border-color: #dc3545;
}

.btn-success:hover, .btn-danger:hover {
    opacity: 0.8;
}
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #343A40;
    color: #FFFFFF;
    padding: 20px 0;
}
.bg-orange{
    background-color: orange !important;
}

.navbar-brand{
    font-weight: bold;
    color: orange !important;
}
.col{
    color: orange;
    font-size: 25px;
    font-weight: bold;
}
